body{
background: url(/images/wood_bg.jpg);
}
h1 {
font-size: 1.5em;
}
a{
color: #c06d24;
}
a:hover{
color: #854c19;
}
.top-bar{
background: url(/images/wood2.jpg);
outline: 1px solid #999;
}
.top-bar-section li a:not(.button){
background: url(/images/wood2.jpg);
}
.top-bar-section li a:not(.button):hover{
background: url(/images/wood2.jpg) 100px 100px;
}
.top-bar-section li a:not(.button):active{
background-color: #000;
}

.top-bar-section li a:not(.button):hover{
-webkit-animation: navrotate 6s linear infinite;
animation: navrotate 6s linear infinite;	
}
@keyframes navrotate { 
 from{
 background-position: 0;
 }
 to{
 background-position: 0 606px;
 }
}
@-webkit-keyframes navrotate { 
 from{
 background-position: 0 0;
 }
 to{
 background-position: 0 606px;
 }
 }

#page{
margin-top: 50px;
background: rgba(225,225,225,.75);
outline: 1px solid #000;
padding: 10px;
-moz-box-shadow: 2px 2px 2px #000;
-webkit-box-shadow: 2px 2px 2px #000;
box-shadow: 2px 2px 2px #000;
}
#page p img{
margin: 10px;
}

#tree, #tree2, #tree3{
position: absolute;
width: 469px;
bottom: 50px;	
z-index: 3;
}
#tree{
-webkit-animation: zoomby 2s linear infinite;
animation: zoomby 2s linear infinite;
bottom: 30px;	

}
#tree2{
-webkit-animation: zoomby2 2.1s linear infinite;
animation: zoomby2 2.1s linear infinite;
}

@-webkit-keyframes zoomby2 { 
  0%   { left: -1300px; }
  100%  { left: 1300px }
}
@keyframes zoomby2 { 
  0%   { left: -1300px; }
  100%  { left: 1300px }
}
@-webkit-keyframes zoomby { 
  0%   { left: -1100px; }
  100%  { left: 1100px }
}
@keyframes zoomby { 
  0%   { left: -1100px; }
  100%  { left: 1100px }
}
#tree3{
-webkit-animation: tree3z 2.15s linear infinite;
animation: tree3z 2.15s linear infinite;
}
@-webkit-keyframes tree3z { 
  0%   { left: -1400px; }
  100%  { left: 1100px }
}
@keyframes tree3z { 
  0%   { left: -1400px; }
  100%  { left: 1100px }
}


#road{
position: absolute;
z-index: 5;
height: 50px;
width: 100%;
background: #333;
bottom: 0;
}

#guardrail{
position: absolute;
height: 92px;
width: 3000px;
background: url(/images/guardrail.png) repeat-x;
bottom: 50px;
-webkit-animation: rail .25s linear infinite;
animation: rail .25s linear infinite;	
z-index: 19;
}
@-webkit-keyframes rail { 
  0%   { left: -500px; }
  100%  { left: -96px }
}
@keyframes rail { 
  0%   { left: -300px; }
  100%  { left: 0px }
}

#scene{
display: block;
position: relative;
height: 320px;
width: 100%;
border: 1px solid #333;
overflow-x: hidden;
background: url(/images/scenebg.jpg) no-repeat 0  0;
-webkit-animation: scenemove 50s linear infinite;	
}
@-webkit-keyframes scenemove { 
  0%   { background-position: -300px 0; }
  100%  { background-position: 0 0; }
}

#car{
position: absolute;
bottom: 10px;
left: 320px;
/* -webkit-animation: driveon 5s linear 1; */
-webkit-animation: carbounce .25s linear infinite;
animation: carbounce .25s linear infinite;	
z-index: 20;
}
@-webkit-keyframes driveon { 
  0%   { left: 2000px }
  80%  { left: 200px; }  

}
#wheel1{
position:absolute;
bottom: 15px;
left: 55px;
-webkit-animation: wheels .25s linear infinite;
}
#wheel2{
position:absolute;
bottom: 15px;
left: 353px;
-webkit-animation: wheels .25s linear infinite;
}
@-webkit-keyframes wheels { 
  0%   { -webkit-transform: rotate(0deg); }
  100%  { -webkit-transform: rotate(-360deg); } 

}

#carbody{
z-index: 10;
}
#slinky{
width: 100px;
position: absolute;
bottom: 48px;
left: 255px;
z-index: -10;
-webkit-animation: slinkybounce .25s linear infinite;
animation: slinkybounce .25s linear infinite;	
}
@-webkit-keyframes slinkybounce { 
  0%   { bottom: 48px }
  25%  { bottom: 47px; }  
  60%   { bottom: 48px }
  80%  { bottom: 49px; }  

}
@keyframes slinkybounce { 
  0%   { bottom: 48px }
  25%  { bottom: 47px; }  
  60%   { bottom: 48px }
  80%  { bottom: 49px; }  

}

@keyframes carbounce { 
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(.5deg); }  
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-1deg); }
}
@-webkit-keyframes carbounce { 
  0%   { -webkit-transform: rotate(0deg); }
  25%  { -webkit-transform: rotate(.5deg); }  
  50%  { -webkit-transform: rotate(0deg); }
  75%  { -webkit-transform: rotate(-.2deg); }
}
.tweet{
margin-bottom:20px;
padding: 10px;
}