body{
background: #c6dbf3; 
background: white;
/*background: -moz-linear-gradient(top, #c6dbf3 0%, #ededed 100%);*/
/*background: -webkit-linear-gradient(top, #c6dbf3 0%,#ededed 10%);*/
/*background: linear-gradient(to bottom, #c6dbf3 0%,#ffffff 25%);*/
background-attachment: fixed;
font-family: "futura-pt", "Arial", sans-serif;
font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
font-family: "adelle", serif;
}
h1{
font-size: 1.6em;
}

.pagetitle {
padding: 10px 0 10px 0;
margin-top: 15px;
font-size: 1.7em;
}
a{
color: #4B81A5;
}
a:hover{
color: #333;
}
.menubar, .top-bar, .top-bar ul{
	background: #273F5A;	
	margin: 0;	
	padding: 0;
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after{
	border-color: #C6DBF3 transparent transparent !important;	
}
.top-bar-top{

	padding: 0;
}
.top-bar{
	padding: 0;	
	border-radius: 0 6px 1px 6px;
    animation-duration: 4s;
    -webkit-animation-duration: .4s;

}
.top-bar ul{
	display: block;
	margin: 0 0 0 28px;
	background: transparent !important;
}

.top-bar ul li {
	background-color: rgba(39, 63, 90, .75);
	transition: background-color 0.3s ease;
}
.top-bar ul li{
	border-left: 1px solid #C6DBF3;
}
.top-bar ul li:last-child{
	border-right: 1px solid #C6DBF3;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after{
 	border-color: #cccccc transparent transparent ;
}
.has-submenu{
		padding-right: 5px;
}
.dropdown.menu .submenu{
	border: none;
}
 .top-bar ul li.active {
	 background-color: #4B81A5;
}
 .top-bar ul li:hover  > a::after{
	  	border-color: transparent transparent #ffcc00;
 }
 .top-bar ul li:hover{
	 background-color: #111111;
}
.top-bar ul li a{
	color: #C6DBF3;
	text-shadow: 1px 1px 2px rgba(10,10,10,.65);
	font-weight: normal;
	font-size: 1em; 
}
.top-bar i{
	margin-top: -2px;
}
.menu > li:not(.menu-text) > a{
	padding: 0.5rem 1rem;
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after{
	top: .825em;
}

.music-nav {
margin-left: 30%;
}

#page{
margin: 10px auto 30px;
background: none;
padding: 10px;
}
#page p img{
margin: 10px;
}

#scene{
display: block;
height: 220px;
width: 100%;
/*overflow-x: hidden;*/
background-position: center center;
}
#scene .row{
	position: relative;
	height: inherit;
}
#scene .title{
	font-size: 1.8em;
	font-weight: bold;	
	text-align: right;

}
#scene .subtitle{
	font-size: 1.5em;
	text-align: right;
}
#scene .title, #scene .subtitle{
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(50,50,50,.6);
	animation: color_change 30s infinite alternate;
	animation-delay: 20s;
	line-height: 1.1em;

}

.tweet{
margin-bottom:20px;
padding: 10px;
}

ol.sc-trackslist li a{
font-size: 100%;
font-weight: normal;
}
#sports ul li{
border-right: 1px dotted #333;
margin-bottom: 10px;
}
#sports ul li:nth-child(3n+3){
border: none;
}
#sports .details{
font-size: .8em;
color: #333;
}
.icon{
float: left;
height: 100px;
padding: 5px;
}
.replay{
background: rgba(0, 0, 0,.3);
}
.top-bar-section .dropdown li a {
	line-height: 2.25em;
}

.ep-info{
	font-weight: bold;
	font-size: 110%;
}
.tvshow{
	float: right;
	width: 50%;
	min-height: 200px;
}
.mytake{
	font-size: 1.2em;
}

#recipeModal{
	
	
}
.footer{
    position: fixed;
	background-color: #C6DBF3;
	box-shadow: -1px -1px 2px rgba(10,10,10,.4);
    right: 0;
    bottom: 0;
    left: 0;
	height: 30px;
    padding: 1rem;
    text-align: center;
	font-size: .7em;
	line-height: .5em;
}

.sidebar{
	background-color: #efefef;
	border: 1px solid #cdcdcd;
	padding: 10px;
	border-radius: 5px;
}
.mast{

}
#resume .item{
	margin-bottom: 20px;
}
#resume .item a{
	font-weight: bold;

}
#resume .thumb{ 
	min-height: 320px;
	margin-bottom: 30px !important;
}
#resume .thumb a img{
    animation-duration: .2s;
    -webkit-animation-duration: .2s;
    animation-iteration-count: 2;
}
#resume .nameplate .name::before{
	content: "< ";
}
#resume .nameplate .name::after{
	content: " >"; 
}
#resume .spec{
	margin: 20px 0 20px 0;
}
#resume .spec p{
	padding: 0;
	margin: 0;
}
#resume  .header, #resume .spec-end{
	text-transform: uppercase;
	font-weight: bold;
}
#resume  .header::after{
	content: " {";
}
.sitethumb{
	position: relative;
	margin: 0 0 20px;
	overflow: hidden;
}
.sitethumb a img{
	width: 100%;
	height: 100%;
}
.sitethumb .nameplate{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1200;
	height: 40px;
	padding: 10px;
	display: none;
    animation-duration: .2s;
    -webkit-animation-duration: .2s;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(10,10,10,.75);
	background: rgba(10,10,10,.75);	
	text-align: center;
	line-height: 1.1em;
}
/* =====anim== */
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}
.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}
.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}
.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
.delay-14s {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}
.delay-16s {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}

.length-3s{
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
}

@keyframes color_change {
	from { 
		/*color: rgba(230,230,230,.9);*/
		text-shadow: 1px 1px 1px rgba(10,10,10,.75); 
		animation-delay: 5s;
	}

	to { 
		/*color: rgba(255,205,200,.6);*/
		text-shadow: 50px 100px 100px rgba(10,10,10,0); 
		
	}
}