---
layout: default
title: Adam Wood Does Web Design
id: home
permalink: /
exclude_from_search: true
featured: 
 - 
---


			<div class="row large-up-3"> 
				{% for page in site.pages %}
				  {% if page.categories contains 'employer' %}
					  {% for l in page.links %}
						    {% if l.thumb %}	 
								<div class="large-4 columns sitethumb">
								     <a href="{{l.link}}"><img src="{{l.thumb}}" /></a>
									 <a href="{{l.link}}"><div class="nameplate">{{l.name}}</div></a>
								</div>
							{% endif %}
					   {% endfor %}
				   {% endif %}
				{% endfor %}
			</div>
