---
layout: default
title: Technical & Hardware
permalink: tech-specs/index.html
hardware:
 - <a href="http://www.amazon.com/gp/product/B0096239FG/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0096239FG&linkCode=as2&tag=adacoowoo-20">Buffalo</a><img src="http://www.assoc-amazon.com/e/ir?t=adacoowoo-20&l=as2&o=1&a=B0096239FG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> Router WZR-HP-G300NH running DD-WRT 
 - Frankenstein PC w/ Intel i7 @ 3.50GHz, 8g ram, 3TBs, gigabit ethernet
 - 2.4GHZ MacBookPro with 4gigs ram 
 - Core 2 Duo Hackintosh with 4gigs 1T running Mountain Lion
 - X10 CM17a Serial PC adapter
 - Assortment X10 lamp and appliance modules 
 - <a href="http://www.amazon.com/gp/product/B00ARJN5WE/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00ARJN5WE&linkCode=as2&tag=adacoowoo-20">ZyXEL 500 MB/s Powerline Adapters</a><img src="http://www.assoc-amazon.com/e/ir?t=adacoowoo-20&l=as2&o=1&a=B00ARJN5WE" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
 - (2) <a href="http://www.amazon.com/gp/product/B0084V445O/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0084V445O&linkCode=as2&tag=adacoowoo-20">Arduino Unos with Arduino Ethernet Shields</a><img src="http://www.assoc-amazon.com/e/ir?t=adacoowoo-20&l=as2&o=1&a=B0084V445O" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
 - <a href="http://www.amazon.com/gp/product/B00AX1ACVI/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00AX1ACVI&linkCode=as2&tag=adacoowoo-20">LilyPad Arduino USB - ATmega32U4 Board</a><img src="http://www.assoc-amazon.com/e/ir?t=adacoowoo-20&l=as2&o=1&a=B00AX1ACVI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

software:
 - <a href="http://www.mythtv.org/">MythTV</a> for OSX v 0.25.1 (mythfrontend)
 - <a href="http://www.mythtv.org/">MythTV</a> for Linux v 0.25.2
---
<div class="row">
	<div class="large-7 columns">
	<p>Here's a list of the toys I play with. Wow. That sounds wrong. You know what I mean, right? It's not quite finished yet.</p>
	<h3>Hardware</h3>
		<ul class="square">
			{% for n in page.hardware %}
			  <li>{{ n }}</li>
			{% endfor %}
		</ul>
	<h3>Software</h3>
		<ul class="square">
			{% for n in page.software %}
			  <li>{{ n }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="large-5 columns">
		
	</div>
</div>