---
layout: default
title: Hardware & Stuff
permalink: tech-specs/index.html
hardware:
 - <a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16833320091">ASUS</a> RT-N66U Dual-Band Wireless-N900 Gigabit Router running DDWRT 
 - Frankenstein PC w/ Intel i7 @ 3.50GHz, 8g ram, 6TBs
 - 2.6GHZ i7 MacBookPro with 16g ram 
 - X10 CM17a Serial PC adapter
 - Assortment X10 lamp and appliance modules 
 - <a href="http://www.amazon.com/gp/product/B008C1JC4O/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B008C1JC4O&linkCode=as2&tag=adacoowoo-20&linkId=LP4JGNHBXWKDDP4I">Actiontec Ethernet to Coax Adapter for Homes with Cable TV Service</a>
 - (2) <a href="http://www.amazon.com/gp/product/B0084V445O/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0084V445O&linkCode=as2&tag=adacoowoo-20">Arduino Unos with Arduino Ethernet Shields</a><img src="http://www.assoc-amazon.com/e/ir?t=adacoowoo-20&l=as2&o=1&a=B0084V445O" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
 - <a href="http://www.amazon.com/gp/product/B00AX1ACVI/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00AX1ACVI&linkCode=as2&tag=adacoowoo-20">LilyPad Arduino USB - ATmega32U4 Board</a><img src="http://www.assoc-amazon.com/e/ir?t=adacoowoo-20&l=as2&o=1&a=B00AX1ACVI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
 - <a href="http://www.amazon.com/gp/product/B009SQQF9C/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009SQQF9C&linkCode=as2&tag=adacoowoo-20">Raspberry Pi Model B Revision 2.0 (512MB)</a><img src="http://www.assoc-amazon.com/e/ir?t=adacoowoo-20&l=as2&o=1&a=B009SQQF9C" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

software:
 - <a href="http://ubuntu.com">Ubuntu 14.04 Trusty Tahr</a>
 - <a href="https://plex.tv/">Plex</a>

---
<div class="row">
	<div class="large-6 columns">
	<h4>Hardware</h4>
		<ul class="square">
			{% for n in page.hardware %}
			  <li>{{ n }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="large-6 columns">
	<h4>Software</h4>
		<ul class="square">
			{% for n in page.software %}
			  <li>{{ n }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="large-5 columns">
		
	</div>
</div>