---
layout: default
title: Web Design & Development
permalink: /webdev/index.html
id: services
---
	<div class=" row">
		<div class="large-12 columns">
		<h1>Web Developer for Hire</h1>
			
			<p>I can build and design that thing for you on the Internet. I've been designing websites since 1997, and have worked on web projects for a number of organizations including Common Ground Center, Dealer.Com, Improvised Communications, Legitify, Vew-Do Balance Boards, Stern Center for Language and Learning, Solar Barns, band Rue Mevlana, pianist John Beasley, actor Robert Toms, and more.</p>
			<p><a href="/contact/">Contact me</a>. I offer discounted rates to non-profits so I can help you help the world.</p>
			
			<div class="row large-up-3">

{% for page in site.pages %}
  {% if page.categories contains 'employer' %}
	  {% for l in page.links %}
		    {% if l.thumb %}	 
				<div class="column sitethumb">
				     <a href="{{l.link}}"><img src="{{l.thumb}}" /></a>
					 <a href="{{l.link}}"><div class="nameplate">{{l.name}}</div></a>
				</div>
			{% endif %}
	   {% endfor %}
   {% endif %}
{% endfor %}
			</div>
		</div>
	</div>