<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Adam Cooper Wood</a></h1>
    </li>
  </ul>
  <ul>
  <li class="left toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  <ul>
    <!-- Left Nav Section -->
    <section class="top-bar-section">
    <ul class="left">
		  <li class="divider"></li>
  		<li class="has-dropdown {% if page.url contains "/music/" %}active"{% endif %}"><a href="/music">Music</a>
  				<ul class="dropdown">
				  <li><a href="/music">General Music</a></li>
				  <li><a href="/music/c-funk">C-Funk - Shitcan Noisebelt</a></li>
				</ul>
  		  </li>

          <li {% if page.url contains "/blog/" %}class="active"{% endif %}><a href="/blog">Blog</a></li>

          <li  {% if page.url contains "/shaving/" %}class="active"{% endif %}><a href="/shaving">Shaving</a></li>


          <li  {% if page.url contains "/video/" %}class="active"{% endif %}><a href="/video">Video</a></li>

          <li  {% if page.url contains "/recipes/" %}class="active"{% endif %}><a href="/recipes">Recipes</a></li>

          <li {% if page.url contains "about" %}class="active"{% endif %}><a href="/about">About</a></li>

    </ul>
    </section>
</ul>

</nav>