<div id="nav">
		<div class="navlist leftnav">
			<div class="nhome"><a href="/">Home</a></div>
			<div class="nblog"><a href="/blog">Text</a></div>
			<div class="nvideo"><a href="/video">Video</a></div>
			<div class="nmusic"><a href="/music">Music</a></div>
		</div>
	
		<div class="navlist rightnav">
			<div class="nrecipes"><a href="/recipes">Recipes</a></div>
			<div class="ntvsports"><a href="/tvsports">Sports</a></div>
			<div class="ncontact"><a href="/contact">Contact</a></div>
			<div class="nabout"><a href="/about-adam-cooper-wood">About</a></div>
		</div>
	</div>