<a class="twitter-timeline"
  width="380"
  height="320"
  href="https://twitter.com/twitterdev"
  data-widget-id="520204552578953217"
  data-chrome="nofooter transparent">
Tweets by @twitterdev
</a>
<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>