---
layout: default
title: Technical Snippets
exclude_from_search: true
---
<div class="row">
	<div class="large-8 columns">
		<ul class="no-bullet">
		
			{% for post in site.posts %}
			  <li>
				  <h1><a href="{{ post.url | replace: 'index.html', '' }}">{{ post.title }}</a></h1>
				  {{ post.date | date: '%B %d, %Y' }} - {{post.content | strip_html | truncatewords: 40}}
				  <p><a href="{{ post.url | replace: 'index.html', '' }}">[MORE]</a></p>
			  </li>
			{% endfor %}
		</ul>
	</div>
	<div class="large-4 columns sidebar">
	<p><a href="/avclub/tech-specs">Tech Specs/Hardware List</a></p>
	<h1>Posts by category</h1>
		{% for category in site.sorted_categories %}
	
			{% unless site.category.first == 'shaving' %}
			<h6>{{ category | first }}</h6>
			<ul>
				{% for post in category.last %}
				<li><a href="{{ post.url | replace: 'index.html', '' }}">'{{ post.title }}'</a></li>
				{% endfor %}
			</ul>
			{% endunless %}

		{% endfor %}
	</div>
</div>