{% include head.html %}
<body>
	{% include nav.html %}
<div id="page" class="row">
	
	<div class="large-9 columns">
		<h1>{{page.title}}</h1>
		<p>{{ page.date | date: '%B %d, %Y' }}</p><p> {{ content }}</p>
		
		Tasgs: {{ page.categories | array_to_sentence_string }}
		{% include disqus.html %}
	</div>
	<div class="large-3 columns sidebar">	

			<p><a href="/avclub/tech-specs/">Tech Specs/Hardware List</a></p>
			{% for category in site.sorted_categories limit: 10 %}
			<h6>Posts about '{{ category | first }}'</h6>
			<ul>
			{% for post in category.last limit: 10 %}
			<li><a href="{{ post.url | replace: 'index.html', '' }}">{{ post.title }}</a></li>
			{% endfor %}
			</ul>
			{% endfor %}
			

	</div>
</div>
</div>
<div class="row">
	  {% include footer.html %}
</div>


{% include bottomscripts.html %}

</body>
</html>