{% include head.html %}
<body>
	{% include nav.html %}
<div id="page" class="row">
	<h1 class="pagetitle">{{ page.title }}</h1>
	<div class="large-9 columns">
		{% for p in page.categories %}
			[ {{ p }} ]
		{% endfor %}
		<p>{{ content }}</p>
		{% include disqus.html %}
	</div>
	<div class="large-3 columns sidebar">	

			<p><a href="/tech-specs">Tech Specs/Hardware List</a></p>
			{% for category in site.sorted_categories limit: 10 %}
			<h6>Posts about '{{ category | first }}'</h6>
			<ul>
			{% for post in category.last limit: 10 %}
			<li><a href="{{ post.url | replace: 'index.html', '' }}">{{ post.title }}</a></li>
			{% endfor %}
			</ul>
			{% endfor %}
			

	</div>
</div>
</div>
<div class="row">
	  {% include footer.html %}
</div>


{% include bottomscripts.html %}

</body>
</html>