<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} | {{ site.siteTitle }}</title>
   <meta name="author" content="Adam Cooper Wood" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
   
	<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/js/heads.js?7"></script>
	<script type="text/javascript">
$(document).ready(function(){
	
	$.get("http://gdata.youtube.com/feeds/base/users/acooperw/uploads?orderby=updated&alt=json&format=5", function(data){
		  var feed = data.feed;
		  var out='<form><select id="dropdown">';
		  out += '<option value="null">Select...</option>';
		  var entries = feed.entry || [];
			  for (var i = 0; i < entries.length; i++) {
				var entry = entries[i];
				var title = entry.title.$t;
				console.log(title);
				var link = entry.link[1].href.split("/");
				//console.log(entry);
				//out.push('<li>', title, '</li>');
				  out+='<option value="'+ link[link.length-1] +'">' + title +'</options>';
			  }
		  out+="</select></form>";
		  //$('#videos').html(out);
		}, "jsonp");
});
</script>

</head>
<body>


<div id="page">
<div id="head"></div>
	{% include nav.html %}

	<div id="contentwrapper">
		<div class="node">
			 {{ content }}
		</div>
	</div>

  {% include footer.html %}
</div>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-850650-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics end -->

</body>
</html>
